.container {
    margin-bottom: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .formControl {
    min-width: 180px;
    margin-right: 8px;
    border-color: #001F3F;
  }
  
  .select .MuiOutlinedInput-notchedOutline {
    border-color: #001F3F;
  }
  
  .iconButton {
    color: #2C3A92;
    margin-left: -12px;
  }
  
  .textField {
    margin-left: 16px;
    min-width: 300px;
    flex-grow: 1;
    border-color: #001F3F;
  }
  
  .textField .MuiOutlinedInput-notchedOutline {
    border-color: #001F3F;
  }
  
  .textField:hover .MuiOutlinedInput-notchedOutline {
    border-color: #001F3F;
  }
  
  .tableContainer {
    min-width: 200px;
  }
  
  .tableCell {
    font-weight: bold;
  }
  
  .tableRow:nth-child(even) {
    background-color: lightgray;
  }
  
  .tableRow:nth-child(odd) {
    background-color: white;
  }
  
  .loadingBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  